* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

body {
  height: auto;
}

a {
  color: white;
  text-decoration: none;
}

.content {
  min-height: 80vh;
}

.header {
  background-color: #0e2525;
  opacity: 0.9;
  display: flex;
  flex-direction: row;
  padding: 2rem;
  width: 100%;
  justify-content: space-between;
  color: white;
}

.logo {
  text-align: center;
  font-size: 3rem;
  text-decoration: none;
}

.login-btns {
  margin-right: 3rem;
  margin: 1rem;
  font-size: 1rem;
}

.Profile-btn {
  margin-right: 2rem;
}

.landingpage {
  display: flex;
  margin-top: 5rem;
  line-height: 1.8rem;
  width: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}

.heading {
  margin-bottom: 1.5rem;
}

.btn {
  padding: 1rem;
  border-radius: 10px;
  border: none;
  margin-top: 2rem;
  background-color: #e92f30;
  color: white;
  align-self: flex-start;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 500;
}

.here {
  margin-top: 1rem;
}

.here a {
  color: black;
  text-decoration: underline;
}

.login {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 8%;
}

.login-form {
  flex-direction: column;
  display: flex;
  width: 30vw;
  margin-top: 2vw;
  margin-bottom: 2vw;
}

.register {
  display: flex;
  justify-content: center;
  margin-top: 8%;
  align-items: center;
  flex-direction: column;
}

.toLogin {
  text-align: center;
}

.toLogin a {
  color: black;
  text-decoration: underline;
}
.success {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 8%;
}

.success a {
  color: black;
}

.register-form {
  flex-direction: column;
  display: flex;
  width: 30vw;
  margin-top: 2vw;
  margin-bottom: 2vw;
}

.submit-btn {
  width: 8vw;
  padding: 0.7rem;
  text-align: center;
  border-radius: 10px;
  border: none;
  margin-top: 0.5rem;
}

.login-btn {
  width: 8vw;
  padding: 0.7rem;
  text-align: center;
  border-radius: 10px;
  border: none;
  margin-top: 0.5rem;
}

.logOut {
  background-color: #0e2525;
  border: none;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.dashboard {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  margin-top: 8%;
  line-height: 1.8rem;
  width: 50%;
}

.profile {
  margin-bottom: 1rem;
}

input {
  padding: 10px;
  border: 0;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  margin: 10px 0;
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: #0e2525;
  opacity: 0.9;
  color: white;
  text-align: center;
}

.copy {
  padding: 2rem;
}
